.sidebar{
    color: #ffff;
}
.menubar{
    position: relative;
    height: 100%;
    overflow-y: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.menubar .ant-menu-item {
    display: flex;
    align-items: center;
    gap: 5px;
}
.menubar .ant-menu-submenu-title .anticon {
    display: flex !important;
    align-items: center;
}

.menubar .ant-menu-submenu-title {
    display: flex !important;
    align-items: center !important;
    gap: 5px !important; /* Ajuste l'espace entre l'icône et le texte */
}

.toggle-theme-btn{
    position: absolute;
    bottom: 30px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin: 12px;
}
.toggle{
    margin-left: 15px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.logo img{
    margin-top: 2rem;
    height: 4rem;
    width: auto;
}

header{
    align-items: 'center' ;
    display: flex;
}