.sidebar{
    color: #ffff;
    height: 100vh;
    background-color: #c6c6c6;
}
.menubar{
    position: relative;
    overflow-y: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    margin-bottom: 1rem;
    height: 100%;
}
.menubar .ant-menu-item {
    display: flex;
    align-items: center;
    gap: 5px;
}
.menubar .ant-menu-submenu-title .anticon {
    display: flex !important;
    align-items: center;
}

.menubar .ant-menu-submenu-title {
    display: flex !important;
    align-items: center !important;
    gap: 5px !important; /* Ajuste l'espace entre l'icône et le texte */
}

.toggle-theme-btn{
    position: absolute;
    bottom: 30px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin: 12px;
}
.toggle{
    margin-left: 15px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.logo img{
    margin-top: 2rem;
    height: 4rem;
    width: auto;
}

Header{
    align-items: center ;
    padding: 16px;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    gap: 16px;
    background-color: #c6c6c6 !important;
}

.ant-menu-item-selected {
    background-color: #6b6b6b !important; /* Gris foncé */
    color: white !important;
  }
  
  .ant-menu-item:hover {
    background-color: #8a8a8a !important; /* Gris un peu plus clair au survol */
  }
  
  .ant-menu-submenu-title:hover {
    background-color: #8a8a8a !important;
  }
  
  .ant-menu-submenu-selected > .ant-menu-submenu-title {
    color: white !important;
  }
