/* Dans votre fichier Style_CS.css */
.ant-statistic-title {
    font-size: 14px;
    color: #666;
  }
  
  .ant-statistic-content {
    font-size: 24px;
    font-weight: 600;
  }
  
  .ant-card-bordered {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .ant-statistic {
    text-align: center;
  }